a{
    text-decoration:none;
    color:#565656;
}
/** dropdown */
.dropdown-menu{
    margin:12px 0 0 0 !important;
    padding-top:12px;
    box-shadow: 0px 1px 10px 0px lightgrey;
}
.dropdown-menu clr-tree-node{
    line-height: 40px;
    min-width:300px !important;
}
.dropdown-menu clr-tree-node .clr-treenode-link{
    min-width:300px !important;
}
.dropdown-menu .dropdown-divider {
    margin: 18px 0 0 0;
}
.text1{
    display:block;
    padding: 18px 0;
}
.list a{
    position: inherit;
    display: block;
    padding: 2% 0 2% 10% !important;
    cursor: pointer;
}
.list a:hover, .text1:hover{
    background-color: #eee;
}
.list a.active, .text1.active{
    background-color: #D9E4EA;
    color: #000;
    border-radius: none;
}
.text1.active a{
    color: #000;
}
/** vertical lines */
.list clr-tree-node {
    position: relative;
    display: table;
    list-style-type: circle;
    padding: 7px 0 10px 30px;
}
.list clr-tree-node:not(:last-child):before {
    background-color: lightgrey;
    content: '';
    position: absolute;
    left: 20px;
    top: 22px;
    height: 100%;
    width: 1px;
}
.list clr-tree-node:after {
    position: absolute;
    top: 19px;
    left: 17px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color:lightgrey;
    content: '';
}
/** cards */
.row{
    padding-right:12px;
    padding-left:12px;
}
.card-block{
    height: 73px;
}
.text1 .card-text{
    padding-top: 0.5em
}
.text1 .card-title clr-icon{
    margin-right: 0
}