<div class="dropdown-menu">
  <clr-tree-node *ngFor="let menu of rootMenu;let i = index" [clrTreeNodeExpanded]="menu.expanded" class="list">
    <a (click)="onExpand(menu, i)" [class.active]="((isRouteActive(menu)) || (parentIndex === i))">
      <clr-icon [attr.shape]="menu.icon" size="22"></clr-icon>{{menu.name}}
    </a>
    <clr-tree-node *ngFor="let file of menu.files;">
      <button (click)="onClick(menu,i)" routerLink={{file.linkUrl}} class="clr-treenode-link" routerLinkActive="active">
                {{file.name}}
            </button>
    </clr-tree-node>
  </clr-tree-node>
  <div class="dropdown-divider"></div>
  <div class="card-block">
    <div class="row text-center">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text1" *ngFor="let divider of rootDivider" routerLinkActive="active" >
        <a routerLink={{divider.linkUrl}}>
          <div class="card-title">
            <clr-icon [attr.shape]="divider.icon" size="22"></clr-icon>
          </div>
          <div class="card-text">{{divider.name}}</div>
        </a>
      </div>
    </div>
  </div>
</div>