a{
    text-decoration:none;
    color:#565656;
}
.margin{
    margin:2%;
}
.branding1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-width: 204px;
    padding: 0 24px;
}
.branding1>a, .branding1>.nav-link{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
}
.branding1 clr-icon {
    height: 36px;
    width: 36px;
}
.branding1 .title{
    font-size: 16px;
    font-weight: 400;
    font-family: Metropolis,"Avenir Next","Helvetica Neue",Arial,sans-serif;
    letter-spacing: .01em;
    color: #fafafa;
    line-height: 60px;
    text-decoration: none;
}
/** cards */
.card-block {
    height: 65px;
}
.card-title {
    font-size: 15px;
}
.info-outline{
    border-color:#31b0d5;
    background-color:transparent;
    color:#31b0d5;
    box-shadow:0 3px 0 0 #31b0d5;
}
.success-outline{
    border-color:#60b515;
    background-color:transparent;
    color:#60b515;
    box-shadow:0 3px 0 0 #60b515;
}
.default-outline{
    border-color:#999;
    background-color:transparent;
    color:#999;
    box-shadow:0 3px 0 0 #999;
}
.warning-outline{
    border-color:#ec971f;
    background-color:transparent;
    color:#ec971f;
    box-shadow:0 3px 0 0 #ec971f;
}
.purple-outline{
    border-color:#800080;
    background-color:transparent;
    color:#800080;
    box-shadow:0 3px 0 0 #800080;
}
.bg-grey{
    background-color:#999 !important
}
.bg-purple{
    background-color:#800080 !important
}
.bg-hover{
    color:white !important;
}
/** labels */
.label-blue{
    border:1px solid #004a70;
}
.label-green{
    border:1px solid #266900;
}
.label, a.label {
    padding: 0 8px;
    border-radius: 15px;
    height: 15px;
}