<div class="main-container">
  <header class="header-6">
    <div class="branding1">
      <a class="nav-link">
        <clr-dropdown [clrMenuPosition]="'bottom-left'" [clrCloseMenuOnItemClick]="false">
          <button class="btn-inverse" clrDropdownToggle>
            <clr-icon shape="menu"></clr-icon>
          </button>
          <ui-menu></ui-menu>
        </clr-dropdown>
        <span class="title">iGTBANK</span>
      </a>
    </div>
    <!--<div class="header-nav"></div>-->
    <div class="header-actions">
      <a class="nav-link nav-icon">
        <clr-icon shape="search"></clr-icon>
      </a>
      <a class="nav-link nav-icon">
        <clr-icon shape="shopping-cart" class="has-badge"></clr-icon>
      </a>
      <a class="nav-link nav-icon">
        <clr-icon shape="email" class="has-badge"></clr-icon>
      </a>
      <clr-dropdown class="dropdown bottom-right">
        <button class="nav-text" clrDropdownToggle>
              <img src="https://www.atomix.com.au/media/2015/06/atomix_user31.png" width="40" height="40" alt="user">
                John Doe
                <clr-icon shape="caret down"></clr-icon>
            </button>
        <div class="dropdown-menu">
          <a clrDropdownItem>Preferences</a>
          <a clrDropdownItem>Log out</a>
        </div>
      </clr-dropdown>
      <a class="nav-link nav-icon">
        <clr-icon shape="sign-out"></clr-icon>
      </a>
    </div>
  </header>
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <clr-icon shape="cluster"></clr-icon>
        <a class="nav-link">Accounts</a>
      </li>
    </ul>
    <a class="text-right">
      <clr-dropdown class="dropdown bottom-right">
        <button class="nav-text" clrDropdownToggle>
                I WANT TO..
                <clr-icon shape="caret down"></clr-icon>
            </button>
        <div class="dropdown-menu">
          <a clrDropdownItem>Preferences</a>
          <a clrDropdownItem>Log out</a>
        </div>
      </clr-dropdown>
    </a>
  </nav>
  <div [ngClass]="'margin'">
    <div class="content-area">
      <div class="row">
        <div class="col-lg-25 col-md-12 col-sm-12 col-xs-12" *ngFor="let card of cards">
          <div class="card {{card.cardClass}}" routerLinkActive="{{card.activeLink}}">
            <a routerLink="{{card.routerLink}}">
              <div class="card-block">
                <h4 class="card-title">
                  <clr-icon shape="cluster"></clr-icon> {{card.cardTitle}} <span class="label">{{card.cardBadge}}</span></h4>
              </div>
              <div class="card-footer">
                <p class="card-text">{{card.cardText}}</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>